body{
    display: flex;
    justify-content: center;
    background: rgb(92, 92, 92);
    width: 100%;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

#root{
    width: 70%;
    margin: 50px 0 0 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.content table{
    width: 100%;
    text-align: center;
    border-spacing: 5px 0;
    border-collapse:collapse;
    border: 2px solid rgb(145, 145, 145);
}
.content table tr:first-child{
    background: rgb(251, 255, 0);
}

table tr td{
    padding: 5px;
    border-bottom: 1px solid rgb(145, 145, 145);
}


table tr:first-child td{
    font-size: 18px;
    font-weight: bold;
    border-top: 3px solid rgb(240, 236, 0);
    border-left: 3px solid rgb(240, 236, 0);
    border-right: 3px solid rgb(240, 236, 0);
    border-bottom: none;
    cursor: pointer;
}
table tr:first-child td:hover{
    background: rgb(208, 255, 0);
    border-top: 3px solid rgb(166, 255, 0);
    border-left: 3px solid rgb(166, 255, 0);
    border-right: 3px solid rgb(166, 255, 0);
}